parameters:
    level: 5
    paths:
        - src
        - apk-directory-core.php
        - uninstall.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
    ignoreErrors:
        - '#Function (add_action|add_filter|register_post_type|register_post_meta|register_rest_route|wp_enqueue_script|get_option|update_option) not found#'
        - '#Constant ABSPATH not found#'
