<?xml version="1.0"?>
<ruleset name="APK Directory Pro Theme">
    <description>WordPress Coding Standards for APK Directory Pro Theme</description>
    <file>./inc</file>
    <file>./functions.php</file>
    <rule ref="WordPress"/>
    <config name="testVersion" value="8.1-"/>
    <rule ref="WordPress.Files.FileName">
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment">
        <exclude name="Squiz.Commenting.FunctionComment.Missing"/>
    </rule>
    <rule ref="Squiz.Commenting.ClassComment">
        <exclude name="Squiz.Commenting.ClassComment.Missing"/>
    </rule>
    <rule ref="Squiz.Commenting.FileComment">
        <exclude name="Squiz.Commenting.FileComment.Missing"/>
    </rule>
    <rule ref="WordPress.Security.NonceVerification">
        <exclude name="WordPress.Security.NonceVerification.Missing"/>
    </rule>
    <rule ref="WordPress.PHP.YodaConditions">
        <severity>0</severity>
    </rule>
    <rule ref="Generic.Arrays.DisallowShortArraySyntax">
        <severity>0</severity>
    </rule>
    <rule ref="PEAR.Functions.FunctionCallSignature">
        <severity>0</severity>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.MissingParamComment">
        <severity>0</severity>
    </rule>
    <rule ref="Squiz.Commenting.FunctionComment.MissingParamTag">
        <severity>0</severity>
    </rule>
    <rule ref="WordPress.WP.I18n.MissingTranslatorsComment">
        <severity>0</severity>
    </rule>
</ruleset>
